* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --red-lighter: rgba(242, 222, 222, 1);
    --red-light: rgba(210, 110, 110, 1);
    --red-contrast: rgba(55, 175, 175, 1);
    --red-dark: rgba(122, 0, 0, 1);
    --red-darker: rgba(48, 0, 0, 1);
    --green-lighter: rgba(222, 242, 222, 1);
    --green-light: rgba(110, 210, 110, 1);
    --green-contrast: rgba(175, 55, 175, 1);
    --green-dark: rgba(0, 122, 0, 1);
    --green-darker: rgba(0, 48, 0, 1);
    --blue-lighter: rgba(222, 222, 242, 1);
    --blue-light: rgba(110, 110, 210, 1);
    --blue-contrast: rgba(175, 175, 55, 1);
    --blue-dark: rgba(0, 0, 122, 1);
    --blue-darker: rgba(0, 0, 48, 1);
    --grey-lighter: rgba(222, 222, 222, 1);
    --grey-light: rgba(150, 150, 150, 1);
    --grey-contrast: rgba(0, 0, 0, 1);
    --grey-dark: rgba(90, 90, 90, 1);
    --grey-darker: rgba(48, 48, 48, 1);
}

.red {
    --lighter: var(--red-lighter);
    --light: var(--red-light);
    --contrast: var(--red-contrast);
    --dark: var(--red-dark);
    --darker: var(--red-darker);
}

.green {
    --lighter: var(--green-lighter);
    --light: var(--green-light);
    --contrast: var(--green-contrast);
    --dark: var(--green-dark);
    --darker: var(--green-darker);
}

.blue {
    --lighter: var(--blue-lighter);
    --light: var(--blue-light);
    --contrast: var(--blue-contrast);
    --dark: var(--blue-dark);
    --darker: var(--blue-darker);
}

.grey {
    --lighter: var(--grey-lighter);
    --light: var(--grey-light);
    --contrast: var(--grey-contrast);
    --dark: var(--grey-dark);
    --darker: var(--grey-darker);
}

.light {
    --first: var(--lighter);
    --second: var(--light);
    --third: var(--dark);
    --fourth: var(--darker);
}

.dark {
    --first: var(--darker);
    --second: var(--dark);
    --third: var(--light);
    --fourth: var(--lighter);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first);
    overflow: scroll;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: none;
    background-color: var(--blue-dark);
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: box-shadow, background-color, 500ms ease;
}

h3 {
    color: var(--contrast) !important;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 10px;
}

h4 {
    color: var(--third) !important;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 10px;
}

h5 {
    color: var(--fourth) !important;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

main {
    position: relative;
    max-width: 1000px;    
    margin: auto;
}

article {
    align-items: center;
    margin-bottom: 50px;
}

#sections-container {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 65vw;
    padding: 0;
    transition: display 300ms ease;
}

#space1 {
    height: 12rem;
}

#space2 {
    height: 60rem;
}

#space3 {
    height: 30rem;
}

#space4 {
    display: none;
    width: 140px;
}

p {
    color: var(--fourth) !important;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5rem;    
    font-weight: 300;
}

.vanishing-letters {
    opacity: 1;
}

#name-container {
    display: flex;
    justify-content: center;
}

#name {
    color: var(--third) !important;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 7rem;
    font-weight: 800;
    position: static;   
    text-shadow: none;
    transition: text-shadow 500ms ease;
    width: fit-content;
    margin: 0 0;
    user-select: none;
}

#name:hover {
    text-shadow: 0 15px 40px var(--third) !important;
}

#subtitle {
    color: var(--fourth) !important;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

#subtitle:hover {
    text-shadow: 0 15px 40px var(--third) !important;
}

.navbar-span:hover {
    text-shadow: 
        10px 0 40px var(--fourth), 
        5px 0 35px var(--third), 
        0 0 40px var(--fourth), 
        -5px 0 35px var(--third), 
        -10px 0 40px var(--fourth) !important;
    transform: scale(1.05);
    transition: text-shadow, transform 300ms ease;
}

#light-dark-mode {
    position: fixed;
    display: inline-block;    
    top: 10px;
    right: 12px;
    z-index: 2;
}

#light-icon:hover, #dark-icon:hover, #change-theme:hover, .color-theme:hover {
    transform: scale(1.1);
    transition: transform 300ms ease;
}

#change-theme {
    position: fixed;
    display: inline-block;    
    top: 60px;
    right: 10px;
    z-index: 2;
}

#dropdown-theme {
    display: none;
    position: absolute;
    float: right;
    z-index: 3;
    right: 40px;
    width: 400%;
    top: 4px;
    direction: rtl;    
}

#grey-theme-icon-g {    
    fill: var(--grey-light) !important;
}

#grey-theme-icon-circle {
    stroke: var(--grey-dark) !important;
}

#grey-theme-icon-path {
    fill: var(--grey-dark) !important;
}

#blue-theme-icon-g {    
    fill: var(--blue-light) !important;
}

#blue-theme-icon-circle {
    stroke: var(--blue-dark) !important;
}

#blue-theme-icon-path {
    fill: var(--blue-dark) !important;
}

#green-theme-icon-g {
    fill: var(--green-light) !important;
}

#green-theme-icon-circle {
    stroke: var(--green-dark) !important;
}

#green-theme-icon-path {
    fill: var(--green-dark) !important;
}

#red-theme-icon-g {    
    fill: var(--red-light) !important;
}

#red-theme-icon-circle {
    stroke: var(--red-dark) !important;
}

#red-theme-icon-path {
    fill: var(--red-dark) !important;
}

#change-theme:hover #dropdown-theme {
    display: inline-block;    
}

#scrollmeter {
    color: #fff;
    font-family: "Open Sans";
    position: fixed;
    top: 0;
    left: 0;
}

.project-container {
    display: flex;    
    align-items: center;
    justify-content: space-between;
}

.descrip-tech-container {
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.project-description {
    margin: 40px 0;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0;
}

.options-container {
    width: 80vw;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px auto;
}

.technology-icon:hover {
    transform: scale(1.1);
    transition: transform 300ms ease;
}

.image {
    padding: calc(100vw / 45);
    margin: auto;
    display: flex;
    transition: box-shadow, transform 300ms ease;
    border-radius: 20px;
}

#trackolus-image {
    width: 80vw;
    max-width: 450px;
    margin: calc(100vw / 45);
    padding: unset;
}

.project-action {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: var(--first) !important;
    transition: box-shadow, transform 300ms ease;
}

.project-action > * {
    display: inline-block;
    transition: text-shadow 200ms ease;
}

.contact-option {
    transition: transform 300ms ease;
}

.project-action:hover, .contact-option:hover {
    transform: scale(1.05);
}

.project-action:hover > .project-action-text {
    text-shadow: 
        20px 0 40px var(--fourth), 
        10px 0 35px var(--third), 
        0 0 30px var(--fourth), 
        -10px 0 40px var(--third), 
        -20px 0 35px var(--fourth), 
        -30px 0 30px var(--third), 
        -40px 0 40px var(--fourth), 
        -50px 0 35px var(--third), 
        -60px 0 30px var(--fourth), 
        -70px 0 40px var(--third), 
        -80px 0 35px var(--fourth) !important;
}

.contact-option:hover > .contact-text {
    text-shadow: 
        0 20px 40px var(--fourth), 
        0 10px 35px var(--third), 
        0 0 30px var(--fourth), 
        0 -10px 40px var(--third), 
        0 -20px 35px var(--fourth), 
        0 -30px 30px var(--third), 
        0 -40px 40px var(--fourth), 
        0 -50px 35px var(--third), 
        0 -60px 30px var(--fourth), 
        0 -70px 40px var(--third), 
        0 -80px 35px var(--fourth) !important;

}

.svg-path {
    fill: var(--fourth) !important;
}

.project-action-text {
    color: var(--fourth) !important;
    margin: 0;
}

#cert1 {
    width: 90vw;
    max-width: 800px;
    transition: box-shadow 200ms ease;
}

#cert1:hover {
    box-shadow: 0 0 15px 5px var(--third) !important;
    transform: scale(1.01);
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.show {
    animation: show-modal 300ms forwards;
}

.hide {
    animation: close-modal 300ms forwards;
}

@keyframes show-modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes close-modal {
    from {opacity: 1;}
    to {opacity: 0;}
}

#modal-content {    
    padding: 20px;
    margin: auto;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 5px #595959;
    background-color: white;
}

#modal-content img {
    width: inherit;
    height: inherit;
}

a {
    text-decoration: none;
}

.display-none {
    display: none !important;
    transition: display 300ms ease;
}

#contact-options {
    display: flex;
    justify-content: space-evenly;
}

.contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-svg {
    fill: var(--third) !important;
}

.contact-text {
    margin: 0;
}

@media only screen and (min-width: 0) {
    #sections-container {
        display: none;
    }
    .project-container {
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 992px) {
    #sections-container {
        display: flex;
    }
    .project-container {
        flex-direction: row;
    }
}

@media only screen and (orientation: landscape) {
    #modal-content {
        height: 90vh;
    }
}

@media only screen and (orientation: portrait) {
    #modal-content {
        width: 90vw;
    }
}